/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
html, body, .off-canvas-wrap, .off-canvas-wrapper-inner, .off-canvas-content, .all-wrap{
	height:100%;
	font-family: $Titillium;
}

.all-wrap{
	//background-color:red;
}


/*********************
WP Core
*********************/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	font-weight:600;
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	color: $dk-blue;
	font-family: $candal;
	//font-size: 2.5rem;
	.sm-dec{
		position: relative;
		top: -0.75rem;
		display: inline-block;
		vertical-align: bottom;
		font-size: 1.6rem;
		line-height: 2.3rem;
		opacity: 0.8;
		&:after{
			position: absolute;
			left:0;
			bottom: 0.0rem;
			content: '';
			display: block;
			width:100%;
			height: 3px;
			background: $dk-yellow;
			opacity: 0.8;
		}

	}
}

.highlight{
		color:$yellow;
	}
.highlight2{
		color:$light-gray;
	}

h2, .h2 {
	font-family: $Titillium;
}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

p, .p{
	@include breakpoint(large up){
		font-size: 1.2rem;
	}
}


p.phone{
	a{
	color: $dk-blue;	
	}
	font-size:1.2rem;
	font-weight:600;
	@include breakpoint(medium){
		font-size:1.8rem;
		font-weight: 400;
	}
	
}

p.blockquote{
	border-left: 0.5rem solid #ccc;
	margin: 1.5rem 0.5rem;
	padding: 0.5rem 0.5rem;
	quotes: "\201C""\201D""\2018""\2019";
  &:before{
	  color: #ccc;
	  content: open-quote;
	  font-size: 4em;
	  line-height: 0.1em;
	  margin-right: 0.25em;
	  vertical-align: -0.4em;
  }

}

.font-test{

	p{
		padding-top:1rem;
	}

}

.slabtext{
	display:block;
}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}

/*********************
HEADER STYLES
*********************/

.intro-large{
	h1{
		font-size: 3rem;
		@include text-shadow(2px, 2px, 7px, rgba(0,0,0,0.3));
		@include breakpoint(large){
			font-size: 5rem;
			line-height: 6rem;
		}

		@include breakpoint(xxlarge){
			font-size: 10rem;
			line-height: 8.5rem;
		}
		
	}

  }

  .cartSlide{
		h1{ 
			font-size: 1rem;
		@include breakpoint(large){
			font-size: 5rem;
			line-height: 6rem;
		}

		@include breakpoint(xxlarge){
			font-size: 8rem;
			line-height: 8.5rem;
		}




		}
	}

 .tandems{
 	.intro-large{
 		h1{
 			@include breakpoint(large){
			font-size: 3rem;
			line-height: 3rem;
		}

		@include breakpoint(xxlarge){
			font-size: 5rem;
			line-height: 5rem;
		}
 		}
 	}
 }


.intro-small{
		background-color:rgba(0,0,0,0.3);
		padding-top:3rem;
		img{
			width:40%;
			opacity: 0.5;
		}
		h1{
			font-size: 2rem;
		}
 }

/* CSS */
.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	//vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	position:relative;
	@include breakpoint(medium up) {
		top:10rem;
	}
	//text-align: center
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Intro */
#intro .bcg {
	//background-image:url(../images/tandem_cloud.jpg);
}

.extra_image {
	position: relative;
	z-index: 2;
	max-height: 30rem;
	overflow: hidden;
	padding:0;
	img{
		width:100%;
		object-fit: cover;
	}
	
}


	
/*********************
NAVIGATION STYLES
*********************/

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

#thingy{
	position:relative;
	top:0; 
	width:100%;
	z-index:20;
	@include breakpoint(small){
		position:fixed;
	}

}

.at-top{
	@include opacity(0.7);
}

.logo-bar{
	background:$dk-blue;
	position:relative;
	border-bottom: 0.2rem solid $dk-yellow;
	
	.logo{
		position: relative;
		height:1rem;
		top:-1.5rem;
		@include opacity(0.8);
		a{
			
		}
	}
}

.nav-bar{
	background-color:$light-gray;
	padding:0;	
	&:hover{
		@include opacity(0.8);
	}

}

.nav-pos{
	position: relative;
	z-index:20;
	.is-stuck{
		@include opacity(0.5);

		}
}

.top-bar-right{
	ul{
		a{
			color: $dk-blue;
		}	
		@include breakpoint(large) {
			font-size:1.2rem;
			a{
				line-height:2rem;
			}
		}
	}
}

.sd-deland{
	a{
	color: $dk-blue;
	}
	font-size:1.2rem;
	font-family: $Exo;
	text-shadow:  3px 3px 0px rgba(186, 151, 15, 0.8), 9px 8px 0px rgba(0, 0, 0, 0.05);
	@include breakpoint(medium) {
		font-size:2rem;
	}
	@include breakpoint(large) {
		font-size:2rem;
		line-height: 1.2rem;
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/
#content {

	#inner-content {
		padding: 0rem 0rem;
	}
}




.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

.ready_set{
	position: relative;
	z-index: 20;
	font-size: 2rem;
	@include breakpoint(medium){
		font-size: 3rem;
	}
	.ready{
		color: $medium-gray;
	}
	.set{
		font-size: 3.8rem;
		@include breakpoint(medium up){
		font-size:6rem;
		line-height: 5rem;

	}
	}
	.highlight{
		font-size: 5rem;
		@include breakpoint(medium up){
		font-size: 10rem;
		line-height: 6rem;
	}
	}



}

/*********************
Product STYLES
*********************/
.voucher-fields{
	label{
		font-size: 1.2rem;
	}

		td{
			display: block;
		}
}




/*********************
Section STYLES
*********************/



.disciplines{
	//margin-top:-3.6rem;
	.pos-adjust{
		position: relative;
		top:1.6rem;
		z-index: 1;
	}
	h1{
		letter-spacing: 0.2rem;
		@include stroke(2px, $dk-blue);
		color: $dk-yellow;
	}
	
	.columns{
		overflow: hidden;
		position: relative;

		@include breakpoint(small only) {
		height:10rem;
		}

		@include breakpoint(medium up) {
		height:20rem;
		}
		
	}

	h3{
		//display: none;
		margin-top: 2*$global-padding;
		padding-left: $global-padding;
		font-weight: 700;
		position: absolute;
		top:0;
		z-index: 2;
		color: $light-gray;
		width:80%;
		line-height: 1rem;
		@include text-shadow(2px, 4px, 0px, $dk-blue);
		//@include stroke(1px, $dk-blue);
		hr{
			border-color: $dk-blue;
		}
		@include breakpoint(medium only) {
		font-size:1.4rem;
		}
		@include breakpoint(large up) {
		font-size:2rem;
		}
		 
		}
	}

	.discipline{
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
		background-size:cover !important;
		background-repeat: no-repeat !important;
		background-position: 50% 50% !important;
		@include modernizr(no-objectfit) { background-color:blue; }
	img{
			display:none;
			@include modernizr(no-objectfit) { display:none; }
			@include breakpoint(medium up) {

				-webkit-filter: blur(2px) grayscale(0.9);
			}
		 

		}

	}

	
	a{
		&:hover{
		 	.discipline{
		 		img{
					-webkit-filter: none;
				}
			}
	}
}

.pac-wing{
	.picture{
		img{
			width: 100%;
		}
	}
}


.about{
	//background-color: $light-gray;
	overflow: hidden;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(top,  $light-gray 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $light-gray 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $light-gray 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	
	h1{
		white-space: nowrap;
		@include breakpoint(small only){
			padding-top: 1rem;
			font-size: 2rem;
		}
		@include breakpoint(medium){
				font-size: 1.8rem
			}
		@include breakpoint(large){
				font-size: 2.5rem;
				line-height: 3rem;
			}
	}

	.bg-test{
		position: relative;
		//overflow: hidden;
		padding: 0 !important;
		height: 15rem;

		.img_div{
			height:100%;
			opacity: 0.4;
		}

		.inner{
			position: absolute;
			bottom:0;
			width: 80%;
			background-color: rgba(186, 151, 15, 0.5);
			padding-left:1em;
		}
		h2{
			position: relative;
			z-index: 2;
			color:$white;
		}	
		img{
			display:block;
			height: 100% !important;
			width: auto !important;			
			opacity: 0.3;
			object-fit:cover;
		}

		@include breakpoint(medium){
			height: 30rem;
		}
		@include breakpoint(medium only){
			background-position: right bottom;
		}


	}

	.words{
		padding-bottom:2em;
	}
}


.tandems{
	.intro-large{
		font-size: 1.2rem;
	}
  
}

.prices{
	table{
		padding-left: 3rem;
	}
	.bg-test{
		position: relative;
		overflow: hidden;
		padding: 0 !important;
		height: 10rem;
		width:100%;

		.inner{
			position: absolute;
			bottom:0;
			width: 80%;
			background-color: rgba(186, 151, 15, 0.5);
			padding-left:1em;
		}
		h2{
			position: relative;
			z-index: 2;
			color:$white;
		}	
		img{
			display: block;
			width: 100% !important;
			height: auto !important;
			position: absolute;
			left: 0;
			top: -30%;
			opacity: 0.3;
			object-fit:cover;
		}

		@include breakpoint(medium){
			height: 30rem;
		}
		@include breakpoint(medium only){
			background-position: right bottom;
		}


	}
	.no-pic{
		height:5rem;
		margin-bottom:1rem;
	}
	p{
		font-size: 1.4rem;
	}

	thead{
		font-size: 1.5rem;
	}
	h2{
		color: $light-gray;
	}

}


.contact{
	background-color: $dk-blue;
	//height:30rem;
	overflow:hidden;
	h1{
		color:$white;
		@include text-shadow( 4px, 3px, 0px, $dk-yellow );
	}
	.columns{
		@include breakpoint(small){
			padding-left:1rem;
		}
	}

	.contact-links{
		
		ul{
			-moz-column-count: 2;
			-webkit-column-count: 2;
			column-count: 2;
			li{
				font-size: 1.5rem;
				line-height: 3rem;
				font-weight: 700;
				@include breakpoint(medium){
					font-size: 2rem; 
					line-height: 4.5rem;
				}
				a{
					color: rgba(8, 7, 216, 0.8);
					opacity: 0.8;
				 &:hover{
				 	color: $dk-yellow;
				 }
				}					
				
			}
			height: 20rem;
		}
		i{
			color:$dk-yellow;
			//@include text-shadow( 2px, 2px, 0px, $white );
		}
	}
	.g-map{
		img{
			height:30rem;
			overflow: hidden;
		}
		position: relative;
		overflow: hidden;
	}
	
}



.some-content{
	.words{
		position: relative;
		//background: rgba(0, 11, 79, 0.1);
		overflow: hidden;
		&:before{
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0.1;
			background-image: url(../images/logo-circle.jpg);
			background-repeat: no-repeat;
			background-position: 50% 0;
			-ms-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
		}
	}
	
}

.coaching{
	.coach{
		width: 100%;
		img{
			max-height:20rem;
		}
		h1{
			background-color:green;
			height:10rem;
			vertical-align: bottom;
		}

	}
}

.acf-map {
		width: 100%;
		height: 400px;
		border: #ccc solid 1px;
		margin: 20px 0;
	}

	/* fixes potential theme css conflict */
	.acf-map img {
	   max-width: inherit !important;
	}

.events-list, .faq-list{
		ul,li {
		  padding: 0;
		  margin: 0;
		  list-style: none;
		}

		ul {
		  margin: 1.2em 0;
		}

		li {
		  margin: 1em;
		  margin-left: 2em;
		}
	.event, .question{
		h1{
			font-size: 1.2rem;
			@include breakpoint(large up){
				font-size: 1.4rem;
			}
			&:before {
				content: 'Q:';
				//font-family: 'FontAwesome';
				float: left;
				margin-left: -1.5em;
				color: #0074D9;
			}
		}
	
		.date{
			p{
			display: inline-block;
			}
		}
	}
	.event{
		h1{
			&:before {
				content: 'B:';
				//font-family: 'FontAwesome';
			}
		}
	}

}


.faq{

	h1{
		@include breakpoint(medium only){
			font-size: 1.8rem;
		}
		letter-spacing: 0.2rem;
		@include stroke(2px, $dk-blue);
		color: $dk-yellow;
	}
	.requirements{
		padding-right: $global-padding;
	}

	.question{
		h1{
			font-family: $Titillium;
			font-weight: 400;
			letter-spacing: 0rem;
			@include stroke(0px, $dk-blue);
			color: $dk-blue;
		}
	}

}



/*********************
IMAGE GALLERY STYLES
*********************/
.cover{
		background-size:cover !important;
		background-repeat: no-repeat !important;
		background-position: 50% 50% !important;
}


.photostream{
	overflow:hidden;
	height:30rem;
}

	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
					-ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: $dark-gray;
	color:$light-gray;

	.columns{
		@include breakpoint(small){
			padding-left:1rem;
		}
		h3{
			width: 80%;
		}
		hr{
			border-color:$light-gray;
		}
		img{
			max-height: 10rem;
			width: auto;
		}
		.phone{
			a{
			color: $dk-blue;
			&:hover{
				opacity: 0.4;
			}
			}
			opacity: 0.8;
		}
	}

	ul{
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		li{
			font-size: 3rem;
			opacity: 0.8;
			a{
				color: $dk-blue;
				&:hover{
				opacity: 0.4;
				}
			}
		}
	}

}


	
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
	list-style: none outside none;
	margin: 0;
}


/*********************
PLANE STYLES
*********************/
.otter-stripe{
	@include otter-stripe();
}

.pac-wing{
	background:$dk-blue;
	overflow:hidden;
	.inner{
		margin: 1rem 1rem 1rem -1rem;
		padding: 0 0 1rem 1rem;
		background: $white;
		width:100%;
		border-top-right-radius: 3rem;
		border-bottom-right-radius: 3rem;
		border-style: double;
		border-width: 1rem;
		border-color: $yellow;
	}
}

.cloud {
	width: 200px; height: 60px;
	background: $cloud-color;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: $cloud-color;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*********************
Weather STYLES
*********************/
.weather{
	//display:none;
	h3{
		line-height: 0.8rem;
	}


.awesome-weather-wrap.temp1 { background: none !important; }
.awesome-weather-wrap.temp2 { background: none; }
.awesome-weather-wrap.temp3 { background: none; }
.awesome-weather-wrap.temp4 { background: none; }
.awesome-weather-wrap.temp5 { background: none; }
.awesome-weather-wrap.temp6 { background: none; }
.awesome-weather-wrap.temp7 { background: none; }


.awesome-weather-header {
	display:none;
}

.awesome-weather-current-temp {
	padding: 0.5rem;
	width: 30%;
	float: right;
	@include breakpoint(small){
		float:left;
	}
	font-size: 4rem;
	line-height: 1em;
	font-weight: 300;
	white-space: nowrap;
	sup{
		&:after{
			content: "F";
		}
	}
}

.awesome-weather-todays-stats {
	float: right;
	text-align: right;
	padding: 0.5rem;
	line-height: 1.4em;
	width: 50%;
	div{
		white-space: nowrap;
	}
}

.awe_desc{
	i{
		font-size: 2rem;
	}
}

.awesome-weather-forecast { display:none ; }
.awesome-weather-attribution { display:none;  }
}